@media only screen and (max-width: 1600px) {
    .wrapper {
        padding: 0 100px 0;
    }
    .footer {
        grid-column-gap: 10%;
    }
}
@media only screen and (max-width: 1200px) {
    a {
        font-size: 13px;
    }
    .first_text p {
        font-size: 50px;
    }
    .about_block p {
        font-size: 40px;
    }
    .products p {
        font-size: 20px;
        line-height: 25px;
    }
    .products h6 {
        font-size: 12px;
    }
    .research p {
        font-size: 40px;
        line-height: 50px;

    }
    .research h6 {
        font-size: 20px;
        line-height: 25px;
    }

    .marketing_consulting p {
        font-size: 20px;
        line-height: 27px;
    }
    .marketing_consulting div:last-child p:last-child {
        font-size: 20px;
        line-height: 27px;
    }
    .proect p {
        font-size: 40px;
        line-height: 50px;
    }
    .proect h6 {
        font-size: 20px;
        line-height: 25px;
    }
    .footer {
        grid-column-gap: 4%;
    }
    .footer a svg {
        width: 100px;
    }
}
@media only screen and (max-width: 1024px) {
    .marketing_consulting p {
        font-size: 17px;
        line-height: 24px;
    }
    .marketing_consulting div:last-child p:last-child {
        font-size: 17px;
        line-height: 24px;
    }
}
@media only screen and (max-width: 992px) {
    .wrapper {
        padding: 0 30px 0;
    }
    .first_text p {
        font-size: 35px;
        line-height: 65px;
    }
    .about_block p {
        font-size: 30px;
    }
    .about_us h6 {
        font-size: 12px;
    }
    .marketing_consulting p {
        font-size: 12px;
        line-height: 24px;
    }
    .marketing_consulting div:last-child p:last-child {
        font-size: 12px;
        line-height: 24px;
    }
    .research p {
        font-size: 30px;
        line-height: 40px;
    }
    .research h6 {
        font-size: 12px;
        line-height: 15px;
    }
    .proect p {
        font-size: 30px;
        line-height: 40px;
    }
    .proect h6 {
        font-size: 12px;
        line-height: 15px;
    }
}
@media only screen and (max-width: 768px) {
    .wrapper {
        padding: 0 15px 0;
    }
    a {
        font-size: 11px;
    }
    .footer {
        grid-column-gap: 2%;
    }
    .footer a svg {
        width: 70px;
    }
}
@media only screen and (max-width: 680px) {
    .wrapper {
        padding: 0 10px 0;
    }
    a {
        font-size: 10px;
    }
    ul li {
        padding-left: 3vw;
    }
    .header_links {
        display: flex;
        position: absolute;
        top: 53%;
        left: 100px;
    }
    .moblie_menu{
        visibility: hidden;
    }
    .mobile_menu_visible{
        visibility: visible !important;
    }
    .burger_menu_mobile {
        display: block;
        color: #FFFFFF;
    }
    .header {
        position: relative;
    }

    .header_right {
        position: absolute;
        right: 0;
        top: 25%;
    }
    .header_right {
        margin-left: 15px;
    }
    .first_text p {
        font-size: 25px;
        line-height: 30px;
    }
    .first_text {
        margin-top: 80px;
        padding-bottom: 60px;
    }
    .about_block p {
        font-size: 16px;
    }
    .about_us {
        padding-top: 50px;
        padding-bottom: 15px;
    }
    .about_us h6 {
        width: 47vw;
    }
    .about_us_second {
        margin-top: 25px;
        padding-bottom: 15px;
    }
    .about_us {
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .product_block {
        display: block;
    }
    .products p {
        font-size: 15px;
        line-height: 20px;
        margin-left: 18px;
    }
    .products h6 {
        font-size: 11px;
        margin-left: 18px;
    }
    .products h5 {
        margin-right: 10px;
    }
    .products {
        margin-top: 15px;
    }
    .research p {
        font-size: 20px;
        line-height: 25px;
    }
    .proect p {
        font-size: 20px;
        line-height: 25px;
    }
    .proect h6 {
        width: 50%;
    }
    .footer {
        display: block;
        text-align: center;
    }
    .d_flex_mobile {
        display: block;

    }
    .marketing_consulting svg{
        width: 125px;
    }
    .marketing_consulting p {
        font-size: 7px;
        line-height: 16px;
    }
    .marketing_consulting div:last-child p:last-child {
        font-size: 7px;
        line-height: 16px;
    }
    .footer a {
        margin-left: 10px;
    }
    .footer a:first-child {
        margin-left: 0;
    }

}

