*{
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    background-color: #111111;
}

*:focus{
    outline: none;
}

@font-face {
    font-family: SF Pro Display;
    src: url("../fonts/SFProDisplay-Medium.ttf");

}

.burger_menu_mobile svg{
    fill: #FFFFFF;
    width: 20px;
    height: 15px;
}
.burger_menu_mobile svg rect{
    height: 10px;
}

li {
    list-style-type: none;
}

a{
    text-transform: uppercase;
    color: #ffffff;
    transition: all 200ms ease-out;
    text-decoration: none;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

a:hover{
    color: #494949;
    transition: all 200ms ease-in;
}

a svg path{
    fill: white;
    transition: all 200ms ease-out;
}

a:hover svg path{
    transition: all 200ms ease-in;
    fill: #494949;
}

img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

video{
    width: 100%;
}

.wrapper {
    position: relative;
    padding: 0 200px 0;
}

header {
    padding-top: 36px;
}

.d_flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;justify-content: space-between;
}

ul li {
    padding-left: 1vw;
}

.burger_menu_mobile {
    display: none;
}

.header_right a:last-child {
    padding-left: 15px;
}

.first_text p {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 78px;
    color: #FFFFFF;
}

.first_text {
    text-align: left;
    width: 50vw;
    margin-top: 180px;
    padding-bottom: 180px;
}

.about_us {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
    border-bottom: 1px solid #FFFFFF;
}

.about_block p{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: #FFFFFF;
}

.about_us h6 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    width: 22vw;
    margin-top: 28px;
}

.about_us_second {
    text-align: left;
    margin-top: 100px;
    padding-bottom: 30px;
    border-bottom: 1px solid #FFFFFF;
}

.about_us_second p {
    width: 50%;
    margin-left: 50%;
}

.product_block {
    margin-top: 36px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 45px;
    grid-row-gap: 20px;
}

.products {
    width: 100%;
    min-height: 125px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px 0;
}

.products div {
    width: 100%;
}

.products p {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 36px;
    margin-top: 21px;
    width: 60%;

}

.products h6 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140.1%;
    color: #494949;
    margin-top: 10px;
    margin-bottom: 21px;
    margin-left: 36px;
    width: 75%;
}

.products h5 svg path{
    fill: #454344;
}

.products:hover h5 svg path{
    fill: #ffffff;
}

.products:hover {
    box-shadow: 0 0 12px 0 #494949;
}

.research {
    margin-top: 90px;
    padding-bottom: 30px;
    border-bottom: 1px solid #FFFFFF;
}

.research p {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}

.research h6 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 28px;
}

.marketing_consulting {
    margin-top: 10px;
}

.marketing_consulting p {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 32px;
    color: #FFFFFF;
}

.marketing_consulting div:last-child p:last-child {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 32px;
    color: #FFFFFF;
    margin-right: 3%;
}

.marketing_consulting div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.proect {
    margin-top: 90px;
    padding-bottom: 30px;
    border-bottom: 1px solid #FFFFFF;
}

.proect p{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
}

.proect h6 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 28px;
    width: 35%;
}

.footer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 16%;
    grid-row-gap: 20px;
    margin-top: 20px;
}